<h1>Edit Question</h1>

<%= render 'form'%>

<%#If you give the form_for helper an ActiveRecord object that is persisted then %>
<%#the generated form will have an action that submits to 'question_path(@question)'%>
<%# where @question is the ActiveRecord object htat you passed to the form %>
