<h1>Questions</h1>
<hr />

<% @questions.each do |q| %>
  <h2><%= link_to q.title, question_path(q) %></h2>
  <p>
  <%= q.body %>
  </p>
<% end %>
<hr />

<%= paginate @questions %>
<%= page_entries_info @questions %>
