<h1>New Question</h1>

<%= render 'form'%>



<%# form_for is a Rails helper method that accepts an ActiveRecord object as
the first argument.
if @question is not persisted in the database. form_for makes the 'action'
of the form go to 'questions_path' (Rails convention) and it will make the 'method'
of the 'form' be POST
%>


    <!-- by using f.text_field :title, if @quesion has a value for the attribute
    'title', it will populate the field with that value. This is usually there
    case when redisplaying the form after an error occurs -->
